{% extends "base.html" %}

{% block content %}

  <h1>Buggies</h1>


  {% for buggy in buggies %}

    <table style="background-color: rgb(204, 204, 204); font-weight: bolder; outline: black;">
      
      <tr>
        <td>ID:</td> <td> {{ buggy['id'] }} </td>
      </tr>
      <tr>
        <td>Wheels:</td> <td> {{ buggy['qty_wheels'] }} </td>
      </tr>
      <tr>
        <td>Main flag:</td> <td> {{ buggy['flag_color'] }} </td>
      </tr>
      <tr>
        <td>Secondary flag:</td> <td> {{ buggy['flag_color_secondary'] }} </td>
      </tr>
      <tr>
        <td>Flag pattern:</td> <td> {{ buggy['flag_pattern'] }} </td>
      </tr>
      <tr>
        <td>Primary motive power:</td> <td> {{ buggy['power_type'] }} </td>
      </tr>
      <tr>
        <td>Primary motive power units:</td> <td> {{ buggy['power_units'] }} </td>
      </tr>
      <tr>
        <td>Auxiliary motive power:</td> <td> {{ buggy['aux_power_type'] }} </td>
      </tr>
      <tr>
        <td>Auxiliary motive power units:</td> <td> {{ buggy['aux_power_units'] }} </td>
      </tr>
      <tr>
        <td>Type of tyres:</td> <td> {{ buggy['tyres'] }} </td>
      </tr>
      <tr>
        <td>Number of tyres:</td> <td> {{ buggy['qty_tyres'] }} </td>
      </tr>
      <tr>
        <td>Armour:</td> <td> {{ buggy['armour'] }} </td>
      </tr>
      <tr>
        <td>Offensive capability:</td> <td> {{ buggy['attack'] }} </td>
      </tr>
      <tr>
        <td>Number of attacks:</td> <td> {{ buggy['qty_attacks'] }} </td>
      </tr>
      <tr>
        <td>Do you want your buggy to be fireproof?</td> <td> {{ buggy['fireproof'] }} </td>
      </tr>
      <tr>
        <td>Do you want your buggy to be insulated?</td> <td> {{ buggy['insulated'] }} </td>
      </tr>
      <tr>
        <td>Do you want your buggy to be antibiotic?</td> <td> {{ buggy['antibiotic'] }} </td>
      </tr>
      <tr>
        <td>Do you want your buggy to have a banging sound system?</td> <td> {{ buggy['banging'] }} </td>
      </tr>
      <tr>
        <td>Algorythm: </td> <td> {{ buggy['algo'] }} </td>
      </tr>
      <tr>
        <td colspan="2"><div {% if buggy["flag_pattern"]== "dstripe" %} style=
          "height: 100px;
          width: 250px;
          background-size: 40px 40px;
          background-image: repeating-linear-gradient(45deg, {{ buggy['flag_color_secondary'] }} 0, {{ buggy['flag_color_secondary'] }} 8px, {{ buggy['flag_color'] }} 0, {{ buggy['flag_color'] }} 50%);
          background-color: {{ buggy['flag_color'] }};"
          {% endif %}
          {% if buggy["flag_pattern"]== "plain" %} style=
          "height: 100px;
          width: 250px;
          background-color: {{ buggy['flag_color'] }};"
          {% endif %}
          {% if buggy["flag_pattern"]== "vstripe" %} style=
          "height: 100px;
          width: 250px;
          background-size: 45px 45px;
          background-image: repeating-linear-gradient(90deg, {{ buggy['flag_color_secondary'] }} 0, {{ buggy['flag_color_secondary'] }} 10px, {{ buggy['flag_color'] }} 0, {{ buggy['flag_color'] }} 50%);
          background-color: {{ buggy['flag_color'] }};"
          {% endif %}
          {% if buggy["flag_pattern"]== "hstripe" %} style=
          "height: 100px;
          width: 250px;
          background-size: 45px 45px;
          background-image: repeating-linear-gradient({{ buggy['flag_color_secondary'] }} 0, {{ buggy['flag_color_secondary'] }} 10px, {{ buggy['flag_color'] }} 0, {{ buggy['flag_color'] }} 50%);
          background-color: {{ buggy['flag_color'] }};"
          {% endif %}
          {% if buggy["flag_pattern"]== "spot" %} style=
          "height: 100px;
          width: 250px;
          background-image:  radial-gradient({{ buggy['flag_color'] }} 12px, transparent 12px), radial-gradient({{ buggy['flag_color'] }} 12px, {{ buggy['flag_color_secondary'] }} 12px);
          background-size: 80px 80px;
          background-position: 0 0,40px 40px;"
          {% endif %}
          {% if buggy["flag_pattern"]== "checker" %} style=
          "height: 100px;
          width: 250px;
          background-color: {{ buggy['flag_color'] }};
          background-image:  repeating-linear-gradient(45deg,{{ buggy['flag_color_secondary'] }}  25%, transparent 25%, transparent 75%, {{ buggy['flag_color_secondary'] }} 75%, {{ buggy['flag_color_secondary'] }}), repeating-linear-gradient(45deg, {{ buggy['flag_color_secondary'] }} 25%, {{ buggy['flag_color'] }} 25%, {{ buggy['flag_color'] }} 75%, {{ buggy['flag_color_secondary'] }} 75%, {{ buggy['flag_color_secondary'] }});
          background-position: 0 0, 20px 20px;
          background-size: 40px 40px;"
          {% endif %}
          ></td>
  
  
      </tr>
      <tr>
        <td colspan="2"><a href="/edit/{{ buggy['id'] }}">Edit</a></td>
      </tr>
      <tr>
        <td colspan="2"><a href="/delete/{{ buggy['id'] }}">Delete</a></td>
      </tr>
    </table>
    <table style="color: rgb(0, 0, 0); font-weight: bolder; outline: black; outline-width: thick;">
      <tr>
        <td>Total cost: </td> <td> {{ buggy['balance'] }} </td>
      </tr>
    </table>
  {% endfor %}
  <p>
    <a href="/" class="button">home</a>
  </p>

{% endblock %}
